<app-navbar></app-navbar>
<div align="center">
    <h1><font color="navy">Login</font></h1>
    <h3>{{form.data.message}}</h3>

    <table>
        <tr>
            <th>Login Id: </th>
            <td><input type="text" name="loginId" [(ngModel)]="form.data.loginId"></td>
        </tr>
        <tr>
            <th>Password: </th>
            <td><input type="text" name="password" [(ngModel)]="form.data.password"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button (click)="signIn()">signIn</button> &nbsp;
                <button (click)="signUp()">signUp</button>
            </td>
        </tr>
    </table>
</div>